*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:480PX) {
    .monNav{
        margin-left: 100PX;
        margin-top: 186px;
    }
}
p{
    font-size: 23PX;
    color: rgb(102, 102, 163);
}
#auto{
    width: 190PX;
}
#manu{
    width: 190PX;
}